@model ScheduledTask
@{
    ViewData["Title"] = "Create Task";
}

<head>

</head>

<body>
    <p>Form for create task</p>

    <form method="post" asp-antiforgery=true>
        <p>           
            <input type="hidden" asp-for=Id />
        </p>

        <p>
            <label asp-for="Name">Name</label>
            <input type="text" asp-for=Name />
        </p>

        <p>
            <label asp-for="Description">Description</label>
            <input type="text" asp-for=Description />
        </p>

        <p>
            <label asp-for="DateTime">DateTime</label>
            <input type="date" asp-for=DateTime />
        </p>

        <p>
            <label asp-for="IsCompleted">IsCompleted</label>
            <input type="checkbox" asp-for=IsCompleted />
        </p>
        
        <p>
            <label asp-for="IsRepeated">IsRepeated</label>
            <input type="checkbox" asp-for=IsRepeated />
        </p>

        <p>
            <label asp-for="DayOfWeek">DayOfWeek</label>
            <select name="DayOfWeek" asp-for=DayOfWeek>
                <option value="">Select a weekday</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="0">Sunday</option>
            </select>
        </p>

        <p>
            <label asp-for="RepeatType">RepeatType</label>
            <select name="RepeatType" asp-for=RepeatType>
                <option value="">Select a repeat type</option>
                <option value="0">Every day</option>
                <option value="1">Every week</option>
                <option value="2">Every month</option>
                <option value="3">Every year</option>
            </select>

        </p>

        <input type="submit" value="Create" />
    </form>
</body>
